{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="site-heading">
                    <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
                </div>
                {% if product.created == product.updated %}
                <p class=" text-muted">{{ product.author }} | {{ product.created }}</p>
                {% else %}
                <p class=" text-muted">{{ product.author }} | updated: {{ product.updated }}</p>
                {% endif %}
                <p class="card-text ">{{ object.content | safe }}</p>
                <a href="{% url 'product'  %}" class="btn btn-primary">Products</a>
                {% if request.user == product.author %}
                <a class="btn btn-default" href="{% url 'product_create_form' pk=product.pk %}">Edit
                    <span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}